<!DOCTYPE HTML>
<html>
	<head>
		<title>degradation: The Forever Gone Saga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">The Forever Gone Saga </a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="homage.html">Hom'age</a></li>
					<li><a href="fulllist.html">Complete Saga</a></li>
					<li><a href="prelude.html">Prelude</a></li>
					<li><a href="starlight.html">starlight dawn</a></li>
					<li><a href="redemption.html">redemption</a></li>
					<li><a href="peregrination.html">peregrination</a></li>
					<li><a href="degradation.html">degradation</a></li>
					<li><a href="solace.html">solace</a></li>
					<li><a href="ephemeral.html">ephemeral paradise</a></li>
					<li><a href="worlds.html">worlds' requiem</a></li>
				</ul>
            </nav>
            
        <!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Vitale Arme: Hol'm</p>
						<h2>Terra</h2>
					</header>
				</div>
			</section>
        
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>degradation</p>
								<h2>prologue</h2>
                            </header>
                            <p>(coming soon)</p>
						</div>
					</div>
				</div>
            </section>

		<!-- One -->
        <section id="One" class="wrapper style3">
            <div class="inner">	
                <header class="align-center">
                    <p>"You have stared down the eyes of devils and demons. You have seen the heartbreak and degradation of your world; you have seen your world burn"</p>
                    <h2>degradation</h2>
                </header>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                          0.3.0.-35.785<br>
                        </div>
                        <div class="item-title">the calling</div>
                        <div class="item-detail">“Nu diraem vago ie sanctium,” steady brother not much farther now.... <a href="thecalling.html">continue</a></div>
                    </li>
					<li class="tl-item" ng-repeat="item in retailer_history">
						<div class="timestamp">
						  0.3.0.0.-643<br>
						</div>
						<div class="item-title">alighting</div>
						<div class="item-detail">From his spot on the cliff over looking the town, Revel could see.... <a href="alighting.html">coming soon</a></div>
					</li>
                </ul>
            </div>	
        </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="mailto: the.forever.gone.saga@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Later Days & Later Nights Studios. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>