<!DOCTYPE HTML>
<html>
	<head>
		<title>starlight dawn: The Forever Gone Saga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">The Forever Gone Saga </a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="homage.html">Hom'age</a></li>
					<li><a href="fulllist.html">Complete List</a></li>
					<li><a href="prelude.html">Prelude</a></li>
					<li><a href="starlight.html">starlight dawn</a></li>
					<li><a href="redemption.html">redemption</a></li>
					<li><a href="peregrination.html">peregrination</a></li>
					<li><a href="degradation.html">degradation</a></li>
					<li><a href="solace.html">solace</a></li>
					<li><a href="ephemeral.html">ephemeral paradise</a></li>
					<li><a href="worlds.html">worlds' requiem</a></li>
				</ul>
            </nav>
            
        <!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>The story of</p>
						<h2>starlight dawn</h2>
					</header>
				</div>
			</section>
        
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>starlight dawn</p>
								<h2>Prologue</h2>
                            </header>
                            <p>...</p>
						</div>
					</div>
				</div>
            </section>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>"I look out upon my station and see the starlight dawning across the cosmos"</p>
						<h2>starlight dawn</h2>
					</header>
				<div class="history-tl-container">
                    <ul class="tl">
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							  1.014.0.-145.286<br>
							</div>
							<div class="item-title">the incident</div>
							<div class="item-detail">The soft yellow light radiated from the clear metal casing. Liquid...<a href="theincident.html">coming soon</a></div>
						</li>
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							  1.999.0.-135.135<br>
							</div>
							<div class="item-title">redacted</div>
							<div class="item-detail">The shadows slowly crept up the west side of a run down fifteen... <a href="redacted.html">coming soon</a></div>
						</li>
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							  1.999.0.-134.54<br>
							</div>
							<div class="item-title">contact</div>
							<div class="item-detail">From the explosion a figure cloaked in ash and fire leaped out of the ruined... <a href="contact.html">continue</a></div>
						</li>
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							  1.235.0.-1.8<br>
							</div>
							<div class="item-title">missed rendezvous</div>
							<div class="item-detail">Tems Queensfel held her breath as she keyed in the last sequence of code... <a href="missedrendezvous.html">continue</a></div>
						</li>
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							  1.023.0.-0.495<br>
							</div>
							<div class="item-title">the communicator</div>
							<div class="item-detail">“Albert Heint, you worthless piece of shit!” Standing before an irate OA.... <a href="thecommunicator.html">continue</a></div>
						</li>
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							  1.222.0.-0.247<br>
							</div>
							<div class="item-title">parturition</div>
							<div class="item-detail">"... system initizlizing." The monitor at the far end of the room buzzed... <a href="parturition.html">coming soon</a></div>
						</li>
					</ul>
				</div>	
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="mailto: the.forever.gone.saga@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Later Days & Later Nights Studios. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>